.footer{
    background-color: #ffffff;
    padding: 30px 0 30px 0;
    line-height: 24px;
}
.container {
    width: 1200px;
    position: relative;
}
.column{
	position: absolute;
	margin-top: 1180px;
	margin-left: 300px;
	height: 100px;
}
.footer .icon_beian{
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../images/iconFooter.png);
    background-repeat: no-repeat;
    background-position: -326px 0;
}
.footer .icon_kexin{
    display: block;
    width: 108px;
    height: 40px;
    background-image: url(../images/iconFooter.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer .icon_anquan{
    display: block;
    width: 107px;
    height: 40px;
    background-image: url(../images/iconFooter.png);
    background-repeat: no-repeat;
    background-position: -219px 0;
}
.footer .icon_shiming{
    display: block;
    width: 108px;
    height: 40px;
    background-image: url(../images/iconFooter.png);
    background-repeat: no-repeat;
    background-position: -110px 0;
}
.footer .icon_qq{
    display: inline-block;
    width: 196px;
    height: 22px;
    vertical-align: middle;
    background-image: url(../images/pa.gif);
    background-repeat: no-repeat;
}
.size_14 {
    font-size: 14px;
}
.rgb_35{
    color: #353535;
}
.padding_10_b {
    padding-bottom: 10px;
}
.rgb_fe6{
    color: #FE6F8C;
}